[tasks.package_targets]
description = "Package selected member binaries for all targets into dist/<triple>/"
category = "Build"
condition = { env_set = ["MEMBER"] }
script_runner = "@duckscript"
script = '''
#!@duckscript

member = get_env MEMBER
member = trim ${member}

targets = get_env TARGETS
target_list = split ${targets} " "
dist_dir = get_env DIST_DIR
exe_suffix_env = get_env EXE_SUFFIX
release = get_env RELEASE
crate_name = basename ${member}
crate_version = set dev

# Prefer the declared package version via simple TOML string split
member_toml = concat ${member} "/Cargo.toml"
if is_path_exists ${member_toml}
    cargo_content = readfile ${member_toml}
    lines = split ${cargo_content} "\n"
    for line in ${lines}
        t = trim ${line}
        if starts_with ${t} "version"
            parts = split ${t} "\""
            if array_size ${parts} > 1
                crate_version = array_get ${parts} 1
            else
                eq_parts = split ${t} "="
                if array_size ${eq_parts} > 1
                    v_raw = array_get ${eq_parts} 1
                    v_raw = trim ${v_raw}
                    crate_version = set ${v_raw}
                end
            end
        end
    end
end

member_main_rs = concat ${member} "/src/main.rs"
if is_path_exists ${member_main_rs}
    binary_names_str = ${crate_name}
else
    msg = concat "Skipping " ${member}
    msg = concat ${msg} ": no binary targets found"
    echo ${msg}
    exit 0
end

bin_list = split ${binary_names_str} " "

for target in ${target_list}
    target = trim ${target}
    if not is_empty ${target}
        target_dir = concat "target/" ${target}
        if equals ${release} "1"
            target_dir = concat ${target_dir} "/release"
        else
            target_dir = concat ${target_dir} "/debug"
        end
        for binary_name in ${bin_list}
            binary_name = trim ${binary_name}
            if not is_empty ${binary_name}
                src_binary = concat ${target_dir} "/" ${binary_name}
                if contains ${target} "windows"
                    if not ends_with ${src_binary} ".exe"
                        src_binary = concat ${src_binary} ".exe"
                    end
                elif not is_empty ${exe_suffix_env}
                    src_binary = concat ${src_binary} ${exe_suffix_env}
                end
                if is_path_exists ${src_binary}
                    dist_target_dir = concat ${dist_dir} "/" ${target}
                    mkdir ${dist_target_dir}
                    dest_name = concat ${binary_name} "-" ${crate_version} "-" ${target}
                    if contains ${target} "windows"
                        dest_name = concat ${dest_name} ".exe"
                    end
                    dest_path = concat ${dist_target_dir} "/" ${dest_name}
                    msg = concat "Copying " ${src_binary}
                    msg = concat ${msg} " -> "
                    msg = concat ${msg} ${dest_path}
                    echo ${msg}
                    cp ${src_binary} ${dest_path}
                else
                    msg = concat "Warning: Binary not found at " ${src_binary}
                    echo ${msg}
                end
            end
        end
    end
end
'''

[tasks.package_all_members_targets]
description = "Package all workspace member binaries for all targets"
category = "Build"
dependencies = ["init", "build_all_members_targets"]
script_runner = "@duckscript"
script = '''
#!@duckscript

handle = glob_array "*/Cargo.toml"
for path in ${handle}
    member = dirname ${path}
    if equals ${member} "."
        continue
    end

    set_env MEMBER ${member}
    msg = concat "Packaging member: " ${member}
    echo ${msg}
    exec --fail-on-error cargo make package_targets --disable-check-for-updates
end
'''
